import launch
from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument
from launch.conditions import IfCondition
from launch_ros.actions import Node
from launch.substitutions import LaunchConfiguration
from ament_index_python.packages import get_package_share_directory
import os

def generate_launch_description():
    use_rviz = LaunchConfiguration('use_rviz', default='true')
    rviz_config_path = os.path.join(
        get_package_share_directory('rviz_camera_stream'),
        'config',
        'rviz_camera_stream.rviz'
    )

    return LaunchDescription([
        DeclareLaunchArgument('use_rviz', default_value='true', description='Launch RViz'),
        Node(
            package='rviz2',
            executable='rviz2',
            name='rviz',
            arguments=['-d', rviz_config_path],
            output='screen',
            condition=IfCondition(use_rviz),
        ),
        Node(
            package='tf2_ros',
            executable='static_transform_publisher',
            name='camera1_broadcaster',
            arguments=['0.1', '0.1', '-0.5', '0', '0', '0', '1', 'map', 'camera1', '10'],
            output='screen'
        ),
        Node(
            package='tf2_ros',
            executable='static_transform_publisher',
            name='camera2_broadcaster',
            arguments=['0.1', '-0.1', '-2.5', '0.01', '0', '0.02', '1', 'map', 'camera2', '10'],
            output='screen'
        ),
        Node(
            package='rviz_camera_stream',
            executable='camera_info_publisher',
            name='camera_info_publisher',
            output='screen'
        )
    ])

